body {
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
}
.player-rs-runs-table {
    /* border: 1px solid black; */
    border-collapse: collapse;
}
.player-rs-runs-table tr:nth-child(2n) {
    background-color: rgb(219, 227, 235);
}
.player-rs-runs-table td, 
.player-rs-runs-table th {
    border: 1px solid black;
    padding: 3px 10px;
}